header {
  position: sticky;
  width: 100%;
  height: 5vh;
  top: 0;
  left: 0;
  color: black;
  background: white;
  padding: 1vh 0 1vh 15vh;
  box-shadow: black 0 0 1px;
  display: flex;
  align-items: center;
  z-index: 1;

  p {
    font-size: 2.5vh;
    padding: 1vh;
    margin: 0 0 0 2vh;
    font-weight: 500;
  }
}
