header {
  position: sticky;
  width: 100%;
  height: 6vh;
  top: 0;
  left: 0;
  color: black;
  background: white;
  padding: 1vh 0 1vh 15vh;
  box-shadow: black 0 0 1px;
  display: flex;
  align-items: center;
}
