.workspace-tree {
  ul {
    padding: 0;
    li {
      padding: 1px;
    }
  }

  .popup {
    position: fixed;
    background: black;
    color: white;
    border-radius: 15px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    button {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 10px;
      width: 100%;
      border-radius: 15px;
    }

    button:hover {
      color: white;
      background-color: rgb(255, 255, 255, 0.1);
    }
  }

  .resource {
    display: flex;
    flex-direction: column;
    width: 100%;

    .resource-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      transition: 0.1s;
      width: 90%;
      border-radius: 5px;
      padding: 0.5vh;

      :first-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: start;
        border-radius: 5px;
        user-select: none;
      }

      .hide-button {
        visibility: hidden;
      }
    }

    .resource-header:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    .resource-header > button {
      display: none;
      font-size: larger;
      padding: 1px 5px;
    }

    .resource-header:hover > button {
      display: block;
    }

    .resource-header > button:hover {
      color: gray;
    }

    .resource-header > div {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      max-width: max-content;

      button {
        padding: 0;
      }
    }

    .resource-children {
      padding-left: 10px;
    }

    .resource-name > * {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }

    .folder svg {
      color: darkgray;
    }

    button {
      background-color: transparent;
      color: black;
      padding: 5px;
      margin: 0;
    }
  }
}
