.workspace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vh;

  .table {
    padding: 1vh;
    width: 50%;
    position: relative;

    > div:first-child {
      background-color: black;
      color: white;
    }

    .table-row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 5vh;
      row-gap: 10vh;
      grid-gap: 1vh;
      margin: 5px;

      align-items: center;
      justify-content: space-between;
      gap: 4vh;
      padding: 1vh;
      background-color: lightgray;
      border-radius: 5px;
      transition: background-color 0.2s;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      :first-child {
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1vh;
        padding-left: 2vh;
      }
    }

    .document:hover {
      background-color: rgb(180, 180, 180);
      cursor: pointer;
    }

    .document-checkbox {
      position: absolute;
    }

    a {
      text-decoration: none !important;
    }
  }
}
