.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  padding-top: 60px;
  color: black;
  box-shadow: black 0 7vh 1px;
  z-index: 2;

  ul {
    margin: 0;
    width: 100%;
  }

  li {
    list-style-type: none;
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }

  > button {
    position: fixed;
    top: 1vh;
    left: 1vh;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 5vh;
    padding: 0;
    margin: 0;
    transition: transform 1s ease-in-out;
    z-index: 1;

    .icon {
      transition: opacity 1s ease-in-out;
    }

    .icon {
      transition: opacity 1s ease-in-out;
    }
  }

  button:hover {
    color: dimgray;
  }

  .workspace-tree {
    ul {
      padding: 0;
      li {
        padding: 1px;
      }
    }

    .popup {
      position: fixed;
      background: black;
      color: white;
      border-radius: 15px;

      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      button {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 10px;
        width: 100%;
        border-radius: 15px;
      }

      button:hover {
        color: white;
        background-color: rgb(255, 255, 255, 0.1);
      }
    }
  }

  .resource {
    display: flex;
    flex-direction: column;
    width: 100%;

    .resource-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      transition: 0.1s;
      width: 90%;
      border-radius: 5px;

      div {
        display: flex;
        flex-direction: row;
        justify-content: start;
        border-radius: 5px;
        user-select: none;
      }
    }

    .resource-header:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    .resource-header > button {
      display: none;
    }

    .resource-header:hover > button {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 1vh;
    }

    .resource-header > button:hover {
      color: gray;
    }

    .resource-header > div {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      max-width: max-content;
    }

    .resource-children {
      padding-left: 10px;
    }

    .resource-name {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2px;
    }

    button {
      background-color: transparent;
      color: black;
      padding: 5px;
      margin: 0;
    }
  }
}
