.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  transition: 0.3s;
  color: black;
  z-index: 10;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;

  .sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 1vh;
    left: 1vh;

    button {
      background-color: transparent;
      border: none;
      color: black;
      font-size: 5vh;
      padding: 0;
      margin: 0;
      transition: transform 1s ease-in-out;

      .icon {
        padding: 0;
        margin: 0;
        transition: opacity 1s ease-in-out;
      }
    }

    a {
      padding-left: 2vh;
    }
  }

  .workspace-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    button {
      background-color: transparent;
      color: black;
      font-size: 3vh;
      padding: 0;
      margin: 0;
    }
  }

  a {
    text-decoration: none !important;
  }

  ul {
    margin: 0;
    width: 100%;
    overflow-y: scroll;
  }

  li {
    list-style-type: none;
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }

  .dragger {
    position: absolute;
    width: 2px;
    cursor: ew-resize;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    user-select: none;
  }
}
