.document-commits {
  .commits-list {
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }

  .commit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0.5vh 8vh;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-decoration: none !important;

    .commit-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2vh;

      button {
        gap: 2vh;
      }
    }

    a {
      color: white;
    }
  }
}
