.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: black !important;
  color: white;
  font-size: 2vh;

  > * {
    padding: 0 2vh 0 2vh;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    margin: 0 2vh 0 2vh;
    transition: color 0.2s;
  }

  button:hover {
    color: lightgray;
  }
}
