.table {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;

  button {
    margin: 1vh 0 1vh 1vh;
  }

  .table-content {
    width: 50%;
    position: relative;

    > div:first-child {
      background-color: black;
      color: white;
    }

    .table-header button {
      padding: 0;
      margin: 0;
    }

    .table-row,
    .table-header {
      display: grid;
      grid-template-columns: 50px repeat(4, 1fr);
      grid-template-rows: 5vh;
      row-gap: 10vh;
      grid-gap: 1vh;
      margin: 5px;
      align-items: center;
      justify-content: space-between;
      gap: 4vh;
      padding: 1vh;
      background-color: lightgray;
      border-radius: 5px;
      transition: background-color 0.2s;

      span {
        width: min-content;
      }
    }

    .table-row:hover {
      background-color: rgb(180, 180, 180);
      cursor: pointer;
    }

    a {
      text-decoration: none !important;
    }

    svg {
      color: white;
    }
  }
}
