.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  margin: 0;

  :not(:first-child) {
    background: black;
    color: white;
    padding: 1vh 2vh 1vh 2vh;
    border-radius: 5px;
  }
}
