@font-face {
  font-family: Poppins;
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}

:root {
  font-family:
    DIN Next,
    system-ui,
    sans-serif;
  font-weight: 400;
}

.app {
  width: 100vw;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: clip;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    overflow-y: auto;

    > div {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      a {
        text-decoration: underline;
      }
    }
  }
}

.editable-text {
  background-color: transparent;
  color: black;
  border: 1px black;
  font-size: 16px;
  font-weight: 500;
}
