:root {
  font-family:
    DIN Next,
    system-ui,
    sans-serif;
  line-height: 1.5;
  overflow-x: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f7f9fa;
  --blue: #1976d2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: black;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: white;
  background-color: black;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  padding: 2vh;
}

.MuiCheckbox-root {
  transition: background-color 0.2s;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.MuiCheckbox-root:focus {
  outline: none;
  box-shadow: none;
}

.MuiCheckbox-root:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.root .MuiOutlinedInput-root:focus-within {
  outline: none;
  box-shadow: none;
  border-color: black !important;
}

.Mui-focused {
  color: black;
}

.MuiInput-underline:after {
  border-bottom-color: black;
}

.MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: black;
}

::selection {
  background-color: grey;
  color: white;
}

::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow:
    inset -1px -1px 0 rgba(0, 0, 0, 0.05),
    inset 1px 1px 0 rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
