.editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 120vh;
  gap: 1em;
  overflow-y: scroll;

  .container {
    min-height: 80vh;
    width: 60%;
    justify-content: left;
    padding: 2em;
    align-items: flex-start;
    background-color: white;
    border-radius: 25px;
    border: lightgray solid 1px;
  }

  h1 {
    color: black;
  }
}
