.manage-workspace-dialog {
  ul {
    padding: 0;
    margin: 0;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: black;
      font-size: larger;
    }
  }

  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  > button {
    margin: auto;
  }
}
