.auth {
  .auth-box {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .auth-form {
    margin-top: 1vh;
  }

  .auth-submit-btn {
    margin-top: 3vh;
    margin-bottom: 2vh;
    text-transform: capitalize;
  }

  .auth-links-container {
    display: flex;
    gap: 1vh;
  }

  .remember-me * {
    user-select: none;
  }

  a {
    color: #1976d2;
    text-decoration: underline;
    font-size: smaller;
    font-weight: 500;
  }

  a:hover {
    color: #1976d2;
  }
}
